/*
Sources used:
Background image resizing -- https://css-tricks.com/perfect-full-page-background-image/
*/

/*Custom colors and fonts*/
:root {
  --gold: #CEAA35;
  --gold-muted: #F1BD70;
  --near-black: #0F1512;
  --lavender-pink: #f9aadaff;
  --plum-web: #ce9ed1ff;
  --rich-black: #021e27ff;
  --dark-green: #061818;
  --tree-green: #022E1E;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Limelight', cursive;
  font-family: 'Mali', cursive;
}

body {
  background-color: var(--dark-green);
}

.welcome {
  position: relative;
  height: 100%;
  background-image: url("images/art-deco-bg-gif.gif");
  background-size: 100% auto;
  background-repeat: no-repeat;
  line-height: 15rem;
  text-align: center;
  grid-area: welcome;
}

/*Class styling*/
.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  /* Preserve aspect ratio */
  max-width: 100%;
  max-height: 100%;
}

.bg-rect {
  max-width: 875px;
  background-color: rgba(255, 255, 255, 0.9);
  border: thick solid var(--near-black);
  border-radius: 25px;
  color: #444;
}

.text {
  font-family: Libre Franklin;
  padding: 2%;
}

.header {
  font-family: Fredericka the Great;
  font-weight: bold;
  color: var(--gold);
  stroke: white;
  position: relative;
}

.biopic {
  border: 1px solid var(--gold);
  margin: 5%;
  padding: 1%;
  max-width: 90%;
  z-index: 1;
  grid-area: biopic;
}

.video {
  text-align: center;
  min-width: 75%;
  height: auto;
  grid-area: video;
}

.bio {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 2em;
  grid-area: bio;
}

.wrapper {
  /* Defines grid-template-columns and grid-template-areas values */
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-gap: 10px;
  grid-template-columns: 2fr 2r 2fr 2fr;
  grid-template-rows: 100%;
  grid-template-areas:
    "welcome welcome welcome welcome"
    ". biopic bio ."
    ". video bio .";
}

.card-body {
  width: 100%;
  min-height: 25%;
  max-width: 100%;
}

.card-title {
  margin: 30px 0px 0px 15px;
  font-family: Fredericka the Great;
  font-weight: bolder;
  color: var(--rich-black);
}

.projects {
  margin-top: 5%;
}

/*Specific elements styling*/
a {
  color: var(--gold);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  margin-right: 25px;
  text-align: right;
  background-color: var(--near-black);
  color: #fff;
}