/*
Sources used:
Background image resizing -- https://css-tricks.com/perfect-full-page-background-image/
*/
:root {
    --flax: #ffee95ff;
    --lavender-blush: #ffededff;
    --lavender-pink: #f9aadaff;
    --plum-web: #ce9ed1ff;
    --rich-black: #021e27ff;
    font-family: 'Mali', cursive;
}
.bg {
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: -2;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
  }
.bg-rect {
    min-height: 500px;
    max-height: 525px;
    min-width: 80px;
    max-width: 875px;
    z-index: -2;
    position: relative;
    margin-top: 4%;
    margin-left:15%;
    background-color: rgba(255, 255, 255, .9);
    border: medium solid var(--lavender-blush);
    color: #444;
}
.header {
    font-family: Mali;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 25px;
    grid-area: header;
  }
.biopic {
    margin: 5%;
    max-width: 110%;
    z-index: 1;
    grid-area: biopic;
}
.video {
    grid-area: video;
    position: absolute; 
}
.wrapper {
    position:fixed;
    top:25%;
    left:25%;
    z-index: -1;
    margin-top: -5%;
    margin-left:-20%;

    /* Defines grid-template-columns and grid-template-areas values */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas:
      'biopic header header'
      'biopic video video'
      '. video video';
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: right;
    background-color: var(--lavender-blush);
    color: #fff;
}
  